body {
  font-family: cursive;
  background-color: #eee;
}

#hero {
  margin: auto;
  text-align: center;
  margin-top:5%;
}

.container-mid {
  margin: 20%;
  margin-top:0;
  text-align: left;
}

#nav-bar {
  display: flex;
  margin-right: 5%;
  margin-left: 59%;
  justify-content: right;
  position:fixed;
top:30px;


  
}
button{

  background-color:orange;
  width:100px;
  height:40px;
  margin-bottom:5%;
  cursor:pointer;
}
button:hover{
  background-color:aliceblue;
}
.card{
  display:flex;
  margin-left:10%;

}
.card1{
  flex:33%;
  border-style:solid;
  text-align:center;
  margin-right:2%;
}
.card2{
  flex:33%;
  text-align:center;
  margin-right:2%;
  border-style:solid;
}
.card3{
  flex:33%;
  text-align:center;
  margin-right:2%;
  border-style:solid;
}
#video{
  margin-top:-15%;
  margin-left:25%;
}
#header{

  position:fixed;
  top:0
}
#nav-link {
  display: inline-block;
}

nav ul li {
  display: flex;
  padding-right: 40px;
  margin-top: -40px;
}

ul {
  display: flex;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;

  font-size: 20px;
  margin-right: -10%;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: bisque;
  color: black;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
}

.btn:hover {
  background-color: orange;
}

.container > p {
  display: flex;
  justify-content: center;

  background-color: yellow;
}

input {
  width: 25%;
  height: 30px;
  text-align: left;
}
